@page "/debt"
<div class="mainDiv">
    @* total section *@
    <div class="totalDiv">

        <div style=" display:flex; flex-direction:column; align-content:start; justify-content: space-between; gap:16px; ">

            <h1 style="font-size: 24px; font-weight:600">NRS 10,000,000</h1>
            <h3 style="font-size:18px; font-weight:500">Total Debt</h3>
        </div>


        <span style="font-size:18px; font-weight:500;  left:0px; height:100%;">2024-12-18 to 2024-12-30</span>
    </div>


    @* tables section  *@

    <div style="box-shadow: -1px 2px 7.6px -1px rgba(0, 0, 0, 0.25);
    border-radius:7px;  background: #FEFEFF; width:100%" class="tableDiv">
        <div style="padding: 32px ; display:flex; justify-content:space-between; align-items:center; " class="tableDivHeader">

            <div>
                <input type="text" placeholder="Search Debt" @bind="searchString">
                <button style="padding:7px 8px;  background-color:transparent; border-radius: 7px;   " @onclick="searchDebt">🔍</button>
            </div>

            <span>
                <button @onclick="displayDialogueBox" style="background-color:transparent; border:solid 2px #D1D0D4; border-radius:5px; padding:9px 10px;"><img src="images/add.png" alt="+" /></button>

                <select style="padding: 9px; border-radius: 5px; border:solid 2px #D1D0D4; margin-left:15px; ">
                    <option value="all">All</option>
                    <option value="priceAsc">Price: Low to High</option>
                    <option value="priceDesc">Price: High to Low</option>
                    <option value="dateAsc">Date: Oldest to Newest</option>
                    <option value="dateDesc">Date: Newest to Oldest</option>
                </select>
            </span>

        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Expense</th>
                    <th>Source</th>
                    <th>Received Date</th>
                    <th>Cleared Date</th>
                    <th>Note</th>
                    <th>Tag</th>
                    <th>Amount</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>

                @if (AllDebts.Count == 0)
                {
                    <tr style="width:100%; display:flex; align-items:center; justify-content:center; text-align:center">No Debt History</tr>
                }
                else
                {

                    for (int i = 0; i < AllDebts.Count; i++)



                    {
                        <tr>
                            <td>@(i + 1)</td>
                            <td>@(AllDebts[i].Title)</td>
                            <td>@(AllDebts[i].Source)</td>
                            <td>@(AllDebts[i].ReceivedDate)</td>

                            @if (AllDebts[i].isPaid)
                            {

                                <td>@(AllDebts[i].ClearedDate)</td>
                            }
                            else
                            {
                                <td> --- </td>
                            }
                            <td>@(AllDebts[i].Note)</td>
                            <td>@(AllDebts[i].Amount)</td>

                            @if (AllDebts[i].isPaid)
                            {

                                <td style="color:green">Cleared</td>
                            }
                            else
                            {
                                <td style="color:#DC143C">Not Cleared</td>
                            }

                            <td style="display:flex;justify-content:center;  align-items:center; gap:5px;">
                                <button style="border:none; background-color:transparent"><img src="images/edit.png" alt="edit" /> </button>
                                <button @onclick="() => HandleDelete(AllDebts[i]) " style="border:none; background-color:transparent"><img src="images/delete.png" alt="delete" /></button>
                            </td>
                        </tr>
                    }
                }


            </tbody>
        </table>
    </div>


</div>


@* add income dialogue box *@
@if (showDialogueBox)
{
    <div style="padding:20px 60px; width:50%; min-height:100%;  background-color: #8F85F3; position:absolute; top:0px; right:0px; display:flex; flex-direction:column; justify-content:center; align-items:center;  " class="dialogueBox">
        <button @onclick="displayDialogueBox" style="background-color:transparent; border:solid 2px #D1D0D4; border-radius:5px; padding:9px 10px; position:absolute; top:100px; right:30px;">
            <img src="images/Close.png" alt="X" />
        </button>

        <div style="width:100%">
            <form style="display:flex; flex-direction:column; gap:50px; width:100%;  text-align:center; justify-content:center; align-items:center; ">

                <input style="width:100%" type="text" @bind="Title" placeholder="Title" required />
                <input style="width:100%" type="number" @bind="Amount" placeholder="Amount" required />
                <input type="text" style="width:100%" @bind="Note" placeholder="Note" />
                <input type="text" style="width:100%" @bind="Source" placeholder="Source" required />




                <select style="padding: 9px; width:100%; border-radius: 5px; border:solid 2px #D1D0D4;   color: #4A4655;
                    background-color: #fff;
                    font-weight:500; font-size:18px; " @bind="SelectedTag">

                    <option value="">tags</option>
                    @for (int i = 0; i < tags.Count; i++)
                    {
                        <option value=@tags[i]>@tags[i].ToUpper()</option>
                    }



                </select>


                <button @onclick="AddDebts" style=" padding: 10px 10px; width:40%; border-radius:7px; border:none; background-color:  #4A4655; color:white ">Add Debt</button>
            </form>
        </div>
    </div>

}


@if (showDeleteDialogueBox)
{
    <div  class="deleteBox">
        <div style="min-height:30%; display:flex; justify-content:center; align-items:center; flex-direction:column" class="dialog-box">
            <span>
                <button style="position: absolute;
        top: 10px;
        right: 10px;" @onclick="displayDeleteDialogueBox">
                    <img src="images/Close.png" alt="X" />
                </button>
            </span>

            <h1>
                Are you sure you want to <strong>Delete</strong> @debtToDelete
            </h1>
            <h3>The selected debt will be permanently deleted and can't be undone</h3>


            <button @onclick="() => DeleteDebt(debtToDelete)">
                Delete
            </button>
        </div>
    </div>
}


@code {
    private bool showDialogueBox = false;
    private bool showDeleteDialogueBox = false;
    private DebtModel debtToDelete;
    private string searchString;
    private List<string> tags = new List<string>
{
    "Yearly",
    "Monthly",
    "Food",
    "Drinks",
    "Clothes",
    "Gadgets",
    "Miscellaneous",
    "Fuel",
    "Rent",
    "EMI",
    "Party"
};

    private string Title = "";
    private int Amount = 0;
    private string Note = "";
    private string SelectedTag = "";
    private string Source = "";
    

    private List<DebtModel> AllDebts = DebtService.Debts;


    private void HandleDelete(DebtModel debt)
    {
        debtToDelete = debt;
        displayDeleteDialogueBox();
    }











    private void displayDialogueBox()
    {
        showDialogueBox = !showDialogueBox;


    } 

    private void displayDeleteDialogueBox()
    {
        showDeleteDialogueBox = !showDeleteDialogueBox;


    }


    private void AddDebts()
    {
        DebtModel debt = new DebtModel(Title, Amount, Source, SelectedTag, Note);
        DebtService.AddDebt(debt);

        Title = "";
        Amount = 0;
        Note = "";
        SelectedTag = "";
        Source = "";

    }

    private void DeleteDebt(DebtModel debt)
    {
        DebtService.DeleteDebt(debt);
        showDeleteDialogueBox = !showDeleteDialogueBox;
    }

    private void searchDebt()
    {
        if (string.IsNullOrEmpty(searchString))
        {
            // If search string is empty or null, load all debts
            AllDebts = DebtService.Debts;
        }
        else
        {
            // Filter debts where the title contains the search string (case-insensitive)
            AllDebts = DebtService.Debts
                .Where(debt => debt.Title != null && debt.Title.Contains(searchString, StringComparison.OrdinalIgnoreCase))
                .ToList();
        }
    }



}
